.contanier {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    margin: 20px;
    padding: 20px;
    min-height: 100px; 
    background-color:rgb(233, 193, 193); 
    text-align: center;
 
  }
  
  nav {
    margin: 5px 15px;

    font-size: 25px;
    color: #153c66; 
 
  }
  

  
  
  